Package: com.shade.splyce
Name: Splyce
Depends: mobilesubstrate, libactivator, preferenceloader
Architecture: iphoneos-arm
Description: SmartClose for iOS 9
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
Version: 0.6
Installed-Size: 160
